{% form_theme form 'form/theme.html.twig' %}
{{ form_widget(form._token) }}
    {{ form_errors(form) }}
        {{ form_row(form.pvNumber) }}

        <div class="mt-3" >

            <div class="tags md:grid-cols-2 lg:grid-cols-4 auto-rows-auto md:grid gap-4"
                 data-index="{{ form.materials|length > 0 ? form.materials|last.vars.name + 1 : 0 }}"
                 data-prototype="{{ include("confiscation/material/_form.html.twig", {form: form.materials.vars.prototype})|e("html_attr") }}">
                <div class="col-span-5">
                        {% for material in form.materials %}
                                {{ include("confiscation/material/_form.html.twig", {form: material }) }}

                        {% endfor %}
                        {{ form_errors(form.materials) }}

                    <div >
                        <button type="button" class="inline-flex items-center px-4 py-2 border border-sky-300 shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 add_item_link" data-collection-holder-class="tags">Ajouter des matériel</button>
                    </div>
                </div>
                <div>
                    <button class="inline-flex items-center px-4 py-2 border border-Red-300 shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 mt-3">{{ button_label|default('Enregistrer') }}</button>
                </div>


            </div>








