
<div class="grid md:grid-cols-2">

    {{ form_row(form.imeiNumber,{disabled: true}) }}
    {{ form_row(form.marque,{disabled: true}) }}
    {{ form_row(form.observation,{disabled: true}) }}

    {{ form_row(form.status,{disabled: true}) }}
    {{ form_row(form.type,{disabled: true}) }}
</div>
